extends layout
block content
    .w3-container(style={width:'100%',margin:'auto',padding:'0'})
        h1.w3-center.w3-dark-gray(style={width:'100%',margin:'auto',padding:'0 0 0 0'}) Gestão de Tarefas
        br   
        div.w3-card-4(style={width:'60%',margin:'auto'})
            header.w3-container.w3-dark-gray
                h3 Registo de uma tarefa
            div.w3-container
                form(action="/registo" method='POST')
                    label
                        b Tarefa:
                    input.w3-input(type='text' name='tarefa')
                    label
                        b Data a finalizar:
                    input.w3-input(type='text' name='data')
                    label
                        b Notas:
                    input.w3-input.w3-border(type='text' name='notas')
                    br
                    input.w3-btn.w3-dark-grey(type="submit" value="Registar")
        br
        div.w3-card-4(style={width:'60%',margin:'auto'})
            header.w3-dark-gray
                h3.w3-center Tarefas
            div.w3-container.w3-center(style={width:'80%',margin:'auto'})
                each al in lista
                    div.w3-container.w3-border.w3-left-align.w3-card-4(style={margin:'auto', padding:'0% 2% 2% 2%'})
                        header.w3-dark-gray
                            h3.w3-center='Tarefa '+al.tarefa
                        h3 Data a finalizar:
                        p=al.data
                        h3 Notas:
                        p=al.notas
                    br    
        br 
    