doctype html
html
  head
    title= "Arquivo Sonoro de Ernesto Veiga de Oliveira"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://unpkg.com/axios/dist/axios.min.js')
    script(src="/javascripts/actions.js")
  body
    block content
